@import 'src/assets/styles/variables';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/mars_surface.jpg");
  background-size: cover;
  font-family: 'Montserrat', 'sans-serif';
  padding: 1rem;
  max-width: 1400px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  color: $color-white;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 0.85rem;
}

a {
  color: $color-accent;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.main-heading a {
  color: $color-white;
  text-decoration: none;
  
  &:hover {
    color: $color-white-hover;
  }
}

input {
  font-family: inherit;
  padding: 0.2rem;
}

button {
  font-family: inherit;
  font-weight: bold;
  border: none;
  padding: 0.2em 0.6em;
  height: 25px;
  color: $color-white;
  background: $color-accent;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 2px;
  
  &:hover, &:focus {
    outline: none;
    background-color: darken($color-accent, 5%);
  }
}

// Datepicker component custom styles
.vdp-datepicker {
  width: 105px;
  
  input[type='text'] {
    width: 105px;
  }
  
  * {
    font-family: 'Montserrat', 'sans-serif';
  }
  
  .datepicker {
    background: #232323;
    border: none;
    margin-top: 0.5rem;
    color: white;
  }
  
  // Center calendar below input 
  .vdp-datepicker__calendar {
    transform: translateX(-30%);
  }
  
  // Arrows
  .vdp-datepicker__calendar {
    header {
      .up:not(.disabled) {
        &:hover, &:focus {
          background-color: $color-black-less-transparent;
        }
      }

      .prev:not(.disabled), .next:not(.disabled) {
        transition: background-color 150ms ease;

        &:hover, &:focus {
          background-color: $color-black-less-transparent;
        }
      }

      .prev::after {
        border-right: 10px solid $color-accent;
      }

      .next::after {
        border-left: 10px solid $color-accent;
      }
    }
    
    .cell:not(.blank).cell:not(.disabled) {
      
      &.day, &.month, &.year {
        &.selected {
          background-color: $color-accent;
        }
        
        &:hover, &:focus {
          border-color: $color-accent;
          outline: none;
        }
        
      }
      
    }
  }
}

// Tooltip directive custom styles
.tooltip {
  background: black;
  border-radius: $tooltip-border-radius;
  
  &.below {
    margin-top: 5px;
  }
}

.tooltip-inner {
  border-radius: $tooltip-border-radius;
  max-width: 360px;
  background-color: $color-black-less-transparent;
  color: white;
  font-size: 0.85rem;
  padding: 0.5rem;
  line-height: 1.35;
}

// Switch 
.p-switch.pretty {
  transform: rotate(180deg);
  left: 0.85rem;
  margin-left: 0.5rem;
  margin-right: 1.25rem;
  top: 2px;

  input, input:checked {
    ~ .state:before {
      border-color: $color-white;
    }
    
    ~ .state label:after {
      background-color: $color-white !important;
    }
  }
  
  label:before, label:after {
    //top: -2px;
  }
}

.switch {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.switch-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover, &:focus {
    color: $color-white-hover;
  }
}
